body {
  margin: 0;
  background-color: #f5f5f5;
}

.rent-wrap {
  min-height: 150px;
  background-color: #e8e9ed;
  padding: 40px 50px 20px 50px;
}

.rent-label {
  height: 20px;
}

.rent-button {
  width: 100%;
  margin-top: 6px;
  background-color: #1fba99 !important;
  border-color: #1fba99 !important;
}
