body {
  margin: 0;
  background-color: #f4f4f4 !important;
}

.m-t-8 {
  margin-top: 8px;
}

.m-t-70 {
  margin-top: 70px;
}

.rent-wrap {
  min-height: 150px;
  background-color: #e8e9ed;
  border: 1px solid #c4c2c2;
  padding: 30px 20px 20px 20px;
}

.rent-label {
  height: 20px;
}

.rent-button {
  width: 100%;
  margin-top: 6px;
  background-color: #1fba99 !important;
  border-color: #1fba99 !important;
}

.list-item {
  min-height: 86px;
  background-color: #fff;
  border: 1px solid #c4c2c2;
  margin-bottom: 35px;
}

.aw-forward-info {
  padding: 20px;
  font-size: 18px;
}

.aw-btn {
  height: 44px;
  width: 130px;
}

.rent-btn {
  background-color: #3750c7 !important;
  margin-right: 20px;
}

.delete-btn {
  background-color: #f2323f !important;
}
